.checkoutSummary {
  text-align: center;
  width: 70%;
  margin: auto;
}

.burgerContainer {
  margin: auto;
  width: 100%;
  height: 250px;
}

@media (min-width: 600px) {
  .checkoutSummary {
    width: 500px;
  }
  .burgerContainer {
    height: 400px;
  }
}